@model TModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<Img src="https://i.pinimg.com/236x/da/8d/3c/da8d3c180a80a0f10a7f009a08466186.jpg">
<h2>Добро пожаловать в WebTime!</h2>

<h5>Кто вы?</h5>

<h6>*для создания расписания для своего клуба выберите администратора, 
    а для записи на занятия выберите клиента</h6>

