* .swp
* . * ~
project.lock.json
.DS_Store
* .pyc
nupkg /

# Код Visual Studio
.vscode

# Райдер
.idea

# Файлы для конкретных пользователей
* .suo
* .user
* .userosscache
* .sln.docstates

# Результаты сборки
[ Dd ] ebug /
[ Dd ] ebugPublic /
[ Rr ] elease /
[ Rr ] eleases /
x64 /
x86 /
build /
bld /
[ Bb ] в /
[ Oo ] bj /
[ Оо ] ут /
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs /
